:root{
--primary-blue:#095AA7;
--saving-green: #1C9800; 




}
nav {
background-color: var(--primary-blue);


}

* {
    font-family: Arial, Helvetica, sans-serif;
    /* font used as placeholder for now */ 
}

#description{



}


#description p{
font-size: 20px;

}

h1{
font-size: 40px;
}

#mainContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 40px;
}

#showBudget{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: var(--primary-blue);
}

#NetIncome {
color: black;
background-color: white;
padding: 5px 30%;
border-radius: 10px;
border: 2px solid black;

}
#NetIncome p {
text-align: center;
font-size: 30px;
color: var(--saving-green);
font-weight: 700;
}

#NetIncome h3{ /* Wrapping occurs with NetIncome h3 */
line-height: 0%;
font-size: 20px;
}

.Calculations{
display: flex;
justify-content: space-between;
align-items: center;
}

.Calculations h3{
margin-right: 50px;
}

.input-fields-info{
    
    background-color: var(--primary-blue);
    color: white;
    border-radius: 20px;
    padding: 5px;

    
}

.input-fields-info h3 {
    display: flex;
    align-items: center;
    &::before {
        content: url(eecu-images/eye.png);
        margin-right: 7px;
    }
    margin-left: 10px;
}
/* fix <p> or info to center */

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px;
    
}

.inputs * {
    padding: 20px;
    border-radius: 20px;;
}

#input-fields section h2 {
    font-size: 40px;
    line-height: 0px;
    
}

#input-fields > section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}